{# ******************** #}
{# ***** PJS VIEW ***** #}
{# ******************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Pjs : Pam, Jim & Sam{% endblock %}

{% block description %}Pjs est un Micro Système de Management de Contenu "fait maison" composé de 3 outils dédiés chacun à un langage : Pam, Php Approachable Microframework, Jim, Javascript Interactive Microlibrary & Sam, Scss Animated Microframework{% endblock %}


{% block main %}

<main id="pjs" class="center">

  <p class="intro secondary-sea double-slight-lg inset-spread-sm anime-growY-sm">
    Cliquer sur un <b>bouton noir
      <i class="fa fa-github fa-lg fa-fw" aria-hidden="true"></i>
    </b> ouvre le <strong>repository sur GitHub</strong><br>
    Cliquer sur un <b>bouton jaune ou rouge
      <i class="fa fa-archive fa-lg fa-fw" aria-hidden="true"></i>
    </b> ouvre la <strong>page du package manager Packagist ou npm</strong><br>
    Cliquer sur un <b>bouton bleu
      <i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i>
    </b> télécharge le <strong>zip du projet depuis GitHub</strong><br>
    Cliquer sur un <b>bouton blanc "Documentation"</b> donne accès à la <strong>documentation de l'outil</strong>.
  </p>


  <!-- *********************** -->
  <!-- ***** Pjs section ***** -->

  <section>
    <h2 class="primary solid-slight mb-lg">Le Micro "Content Management System" fait main</h2>

    <ul id="cms" class="grid">

      <li class="col items-center special-sea double-rounder-lg">

        <article class="col items-center gp-tn gm-tn">

          <h3>PJS</h3>

          <figure class="child-flipY-tn">
            {{ include('svg/pjs.svg.twig') }}
            <figcaption class="anime-slipT-tn">Le microCMS pour coder en pyjamas</figcaption>
          </figure>

          <div class="btn-group m-md">
            <!-- Facebook buttons -->
            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fphilippebeck.net%2Findex.php%3Faccess%3Dpjs&layout=button_count&size=small&mobile_iframe=true&appId=1316979581722641&width=82&height=20" width="82" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

            <!-- Tweet button -->
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <!-- linkedIn button -->
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
            <script type="IN/Share" data-url="https://philippebeck.net/index.php?access=pjs" data-counter="right"></script>
          </div>

          <p>Pjs est un outil simple & efficace, combinant Pam, Jim & Sam, afin de créer des applications originales.</p>

          <p>Pjs intégre une administration avec gestion des utilisateurs, des articles, des commentaires & quelques autres fonctionnalités indispensables...</p>

          <p>Lire les documentations de ses dépendances, Twig y compris, est indispensable pour en faire bon usage.</p>

          <p>Vous trouverez beaucoup de fonctionnalités pour construire un site web: les classes Php fournies par Pam, le microframework, les fonctions JavaScript fournies par Jim, la micro-librairie, les classes Css fournies par Sam, le microframework, des filtres & des fonctions pour les Vues venant de Twig, le moteur de template.</p>

        </article>

        <p>
          Installer Pjs via composer :<br>
          <strong><i class="fa fa-code-fork fa-lg fa-fw" aria-hidden="true"></i> composer require pjs/pjs</strong>
        </p>

        <div class="btn-group m-md">

          <a class="btn github-outline solid-rounder inset-spread" href="https://github.com/philippebeck/pjs" title="Voir le repository GitHub">
            <i class="fa fa-github fa-lg fa-fw" aria-hidden="true"></i>
          </a>

          <a class="btn packagist-outline solid-rounder inset-spread" href="https://packagist.org/packages/pjs/pjs" title="Voir le package Packagist">
            <i class="fa fa-archive fa-lg fa-fw" aria-hidden="true"></i>
          </a>

          <a class="btn primary-outline solid-rounder inset-spread" href="https://github.com/philippebeck/pjs/archive/master.zip" title="Télécharger Pjs">
            <i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i>
          </a>

        </div>
      </li>
    </ul>
  </section>


  <!-- ******************************** -->
  <!-- ***** Dependancies section ***** -->

  <section>
    <h2 class="secondary solid-slight mt-wd mb-lg">Ses dépendances maisons "on scratch"</h2>
    <ul class="grid-3lg gap-lg">

      <!-- ******************** -->
      <!-- ***** Pam part ***** -->

      <li class="col items-center info-sea solid-rounded">

        <h3>PAM<br>Php Approachable Microframework</h3>

        <a class="btn info-outline double-round inset-spread" href="{{ url('pjs!pam') }}" title="Voir la documentation">
          <figure>
            {{ include('svg/pam.svg.twig') }}
            <figcaption>Documentation</figcaption>
          </figure>
        </a>

        <p>
          Installer Pam via composer :<br>
          <strong><i class="fa fa-code-fork fa-lg fa-fw" aria-hidden="true"></i> composer require pjs/pam</strong>
        </p>

        <div class="btn-group">

          <a class="btn github-outline solid-rounder inset-spread" href="https://github.com/philippebeck/pam" title="Voir le repository GitHub">
            <i class="fa fa-github fa-lg fa-fw" aria-hidden="true"></i>
          </a>

          <a class="btn packagist-outline solid-rounder inset-spread" href="https://packagist.org/packages/pjs/pam" title="Voir le package Packagist">
            <i class="fa fa-archive fa-lg fa-fw" aria-hidden="true"></i>
          </a>

          <a class="btn primary-outline solid-rounder inset-spread" href="https://github.com/philippebeck/pam/archive/master.zip" title="Télécharger Pam">
            <i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i>
          </a>

        </div>
      </li>


      <!-- ******************** -->
      <!-- ***** Jim part ***** -->

      <li class="col items-center valid-sea solid-rounded">

        <h3>JIM<br>Javascript Interactive Microlibrary</h3>

        <a class="btn valid-outline double-round inset-spread" href="{{ url('pjs!jim') }}" title="Voir la documentation">
          <figure>
            {{ include('svg/jim.svg.twig') }}
            <figcaption>Documentation</figcaption>
          </figure>
        </a>

        <p>
          Installer Jim via npm :<br>
          <strong><i class="fa fa-code-fork fa-lg fa-fw" aria-hidden="true"></i> npm install jim-js</strong>
        </p>

        <p>Installer Jim via bower :<br>
          <strong><i class="fa fa-code-fork fa-lg fa-fw" aria-hidden="true"></i> bower install jim-js --save</strong>
        </p>


        <div class="btn-group">

          <a class="btn github-outline solid-rounder inset-spread" href="https://github.com/philippebeck/jim-js" title="Voir le repository GitHub">
            <i class="fa fa-github fa-lg fa-fw" aria-hidden="true"></i>
          </a>

          <a class="btn npm-outline solid-rounder inset-spread" href="https://www.npmjs.com/package/jim-js" title="Voir le package npm">
            <i class="fa fa-archive fa-lg fa-fw" aria-hidden="true"></i>
          </a>

          <a class="btn primary-outline solid-rounder inset-spread" href="https://github.com/philippebeck/jim-js/archive/master.zip" title="Télécharger Jim">
            <i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i>
          </a>

        </div>
      </li>


      <!-- ******************** -->
      <!-- ***** Sam part ***** -->

      <li class="col items-center delete-sea solid-rounded">

        <h3>SAM<br>Scss Animated Microframework</h3>

        <a class="btn delete-outline double-round inset-spread" href="{{ url('pjs!sam') }}" title="Voir la documentation">
          <figure>
            {{ include('svg/sam.svg.twig') }}
            <figcaption>Documentation</figcaption>
          </figure>
        </a>

        <p>
          Installer Sam via npm :<br>
          <strong><i class="fa fa-code-fork fa-lg fa-fw" aria-hidden="true"></i> npm install sam.scss</strong>
        </p>

        <p>Installer Sam via bower :<br>
          <strong><i class="fa fa-code-fork fa-lg fa-fw" aria-hidden="true"></i> bower install sam.scss --save</strong>
        </p>

        <div class="btn-group">

          <a class="btn github-outline solid-rounder inset-spread" href="https://github.com/philippebeck/sam.scss" title="Voir le repository GitHub">
            <i class="fa fa-github fa-lg fa-fw" aria-hidden="true"></i>
          </a>

          <a class="btn npm-outline solid-rounder inset-spread" href="https://www.npmjs.com/package/sam.scss" title="Voir le package npm">
            <i class="fa fa-archive fa-lg fa-fw" aria-hidden="true"></i>
          </a>

          <a class="btn primary-outline solid-rounder inset-spread" href="https://github.com/philippebeck/sam.scss/archive/master.zip" title="Télécharger Sam">
            <i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i>
          </a>

        </div>
      </li>
    </ul>
  </section>
</main>

{% endblock %}
