{# ******************** #}
{# ***** SAM VIEW ***** #}
{# ******************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Sam : Scss Animated Microframework{% endblock %}

{% block description %}Documentation de Sam, Scss Animated Microframework - sam.scss{% endblock %}


{% block main %}

<main id="sam" class="container center">


  <p class="intro warning-sea solid-rounded">
    <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i>
    En construction !
    <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i><br>
  </p>

  <article class="container">

    <h2 class="info-sea solid-slight p-md">Documentation de Sam</h2>

    <figure class="mr-auto ml-auto">
      {{ include('svg/sam.svg.twig') }}
      <figcaption>SAM</figcaption>
    </figure>

    <p>Sam est un microframework SCSS générant une librairie CSS.</p>

    <p>Sam est orienté vers l'animation au travers de règles @keyframes et de propriétés CSS d'animation & de transformation.</p>

    <p>Sam est fourni sans aucune ligne de code JavaScript...</p>

    <p>Sam peut faire une grille avec flexbox layout ou grid layout!</p>

    <p>Sam peut être utilisé sans aucune connaissance SCSS, Sass ou Ruby, en utilisant uniquement la bibliothèque CSS.</p>

    <p>Sam est construit autour de 6 caractéristiques principales: l'affichage, les couleurs, les bordures, les ombres, les animations et les helpers.</p>

    <p>Sam fournit 3 éléments de base en plus, la barre de navigation, les boutons et les formulaires.</p>

    <div class="btn-group">

      <a class="btn github-outline solid-rounder inset-spread" href="https://github.com/philippebeck/sam.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir le repository GitHub">
        <i class="fa fa-github fa-lg fa-fw" aria-hidden="true"></i>
      </a>

      <a class="btn npm-outline solid-rounder inset-spread" href="https://www.npmjs.com/package/sam.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir le package npm">
        <i class="fa fa-archive fa-lg fa-fw" aria-hidden="true"></i>
      </a>

      <a class="btn primary-outline solid-rounder inset-spread" href="https://github.com/philippebeck/sam.scss/archive/master.zip" title="Télécharger Sam">
        <i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i>
      </a>

    </div>

    <!-- ******************************** -->
    <!-- ***** Installation section ***** -->

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">I - Installation</h3>

      <ol>
        <li>Ouvrez un terminal, placez-vous dans <i>votre dossier web</i>, puis tapez  <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
          <pre class="classic-text">npm install sam.scss</pre>
        </li>
        <li>Appelez depuis votre layout :
          <ul>
            <li><strong class="valid-text">sam.css</strong> pour la version dev <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
              <pre>&lt;<span class="delete-text">link</span> <span class="info-text">rel</span>=<span class="warning-text">"stylesheet"</span> <span class="info-text">href</span>=<span class="warning-text">"node_modules/sam.scss/dist/sam.css"</span>&gt;</pre>
            </li>
            <li><strong class="valid-text">sam.min.css</strong> pour la version prod <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
              <pre>&lt;<span class="delete-text">link</span> <span class="info-text">rel</span>=<span class="warning-text">"stylesheet"</span> <span class="info-text">href</span>=<span class="warning-text">"node_modules/sam.scss/dist/sam.min.css"</span>&gt;</pre>(attention toutefois, il s'agit d'un pre-release pour le moment)
            </li>
          </ul>
        </li>
      </ol>

    </section>


    <!-- ************************** -->
    <!-- ***** Navbar section ***** -->
    {{ include('pjs/sam/navbar.twig') }}


    <!-- ************************** -->
    <!-- ***** Button section ***** -->
    {{ include('pjs/sam/button.twig') }}



    <!-- ************************ -->
    <!-- ***** Form section ***** -->
    {{ include('pjs/sam/form.twig') }}



    <!-- *************************** -->
    <!-- ***** Display section ***** -->
    {{ include('pjs/sam/display.twig') }}


    <!-- ************************** -->
    <!-- ***** Border section ***** -->
    {{ include('pjs/sam/border.twig') }}


    <!-- ************************** -->
    <!-- ***** Shadow section ***** -->
    {{ include('pjs/sam/shadow.twig') }}



    <!-- ************************* -->
    <!-- ***** Color section ***** -->
    {{ include('pjs/sam/color.twig') }}


    <!-- *************************** -->
    <!-- ***** Animate section ***** -->
    {{ include('pjs/sam/animate.twig') }}

    <!-- ************************** -->
    <!-- ***** Helper section ***** -->
    {{ include('pjs/sam/helper.twig') }}


  </article>
</main>

{% endblock %}
