{# ******************** #}
{# ***** SAM VIEW ***** #}
{# ******************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Sam : Scss Animated Microframework{% endblock %}

{% block description %}Documentation de Sam, Scss Animated Microframework - sam.scss{% endblock %}

{% block main %}

<main id="sam" class="center">

  <p class="intro warning-sea solid-rounded">
    <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i>
    En construction !
    <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i><br>
  </p>

  <article class="container">

    <h2 class="info solid p-md">Documentation</h2>

    <figure class="m-auto">
      {{ include('svg/sam.svg.twig') }}
      <figcaption class="special-text bold">SAM</figcaption>
    </figure>

    <div class="btn-group m-md">

      <!-- Facebook buttons -->
      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fphilippebeck.net%2Findex.php%3Faccess%3Dpjs!sam&layout=button_count&size=small&mobile_iframe=true&appId=1316979581722641&width=82&height=20" width="82" height="20" style="border:none;overflow:hidden"></iframe>

      <!-- Tweet button -->
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <!-- linkedIn button -->
      <script src="//platform.linkedin.com/in.js"> lang: fr_FR</script>
      <script type="IN/Share" data-url="https://philippebeck.net/index.php?access=pjs!sam" data-counter="right"></script>
    </div>

    <p>Sam est un microframework SCSS générant une librairie CSS.</p>

    <p>Ce microframework est orienté Animation au travers de règles @keyframes & de propriétés CSS d'animation & de transformation.</p>

    <p>Il est fourni sans aucune ligne de code JavaScript...</p>

    <p>Ne nécessite aucune dépendance côté production & une seule côté développement : Normalize.css.</p>

    <p>Et un seul appel depuis le layout est nécessaire pour faire fonctionner la totalité des fonctionnalités...</p>

    <p>Sam peut faire une grille avec flexbox layout ou grid layout!</p>

    <p>Cet outil peut être utilisé sans aucune connaissance SCSS, Sass ou Ruby, en utilisant uniquement la bibliothèque CSS.</p>

    <p>Il est construit autour de 6 caractéristiques principales: l'affichage, les couleurs, les bordures, les ombres, les animations & les helpers.</p>

    <p>Et fournit 3 éléments de base en plus, la barre de navigation, les boutons & les formulaires.</p>

    <div class="btn-group">

      <a class="btn github-outline solid-rounder inset-spread" href="https://github.com/philippebeck/sam.scss" title="Voir le repository GitHub">
        <i class="fa fa-github fa-lg fa-fw" aria-hidden="true"></i>
      </a>

      <a class="btn npm-outline solid-rounder inset-spread" href="https://www.npmjs.com/package/sam.scss" title="Voir le package npm">
        <i class="fa fa-archive fa-lg fa-fw" aria-hidden="true"></i>
      </a>

      <a class="btn primary-outline solid-rounder inset-spread" href="https://github.com/philippebeck/sam.scss/archive/master.zip" title="Télécharger Sam">
        <i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i>
      </a>
    </div>

    <ul class="flex content-center fixed-bottom valid-sea gm-tn">
        <li>
          <a class="special-dark outset-slight inset-blur bold pr-tn pl-tn"  href="#navbar" title="Accéder à la section 'Navbar'">Navbar</a>
        </li>
        <li>
          <a class="special-dark outset-slight inset-blur bold pr-tn pl-tn"  href="#btn" title="Accéder à la section 'Button'">Button</a>
        </li>
        <li>
          <a class="special-dark outset-slight inset-blur bold pr-tn pl-tn"  href="#form" title="Accéder à la section 'Form'">Form</a>
        </li>
        <li>
          <a class="special-dark outset-slight inset-blur bold pr-tn pl-tn"  href="#display" title="Accéder à la section 'Display'">Display</a>
        </li>
        <li>
          <a class="special-dark outset-slight inset-blur bold pr-tn pl-tn"  href="#border" title="Accéder à la section 'Border'">Border</a>
        </li>
        <li>
          <a class="special-dark outset-slight inset-blur bold pr-tn pl-tn"  href="#shadow" title="Accéder à la section 'Shadow'">Shadow</a>
        </li>
        <li>
          <a class="special-dark outset-slight inset-blur bold pr-tn pl-tn"  href="#color" title="Accéder à la section 'Color'">Color</a>
        </li>
        <li>
          <a class="special-dark outset-slight inset-blur bold pr-tn pl-tn"  href="#animate" title="Accéder à la section 'Animate'">Animate</a>
        </li>
        <li>
          <a class="special-dark outset-slight inset-blur bold pr-tn pl-tn"  href="#helper" title="Accéder à la section 'Helper'">Helper</a>
        </li>
      </ul>


    <!-- ******************************** -->
    <!-- ***** Installation section ***** -->
    <section id="install">
      <h3 class="primary solid-slight m-lg">I - Installation</h3>

      <ol>
        <li>
          Ouvrez un terminal, placez-vous dans <i>votre dossier web</i>, puis tapez :
          <pre class="classic-text mb-md">npm install sam.scss</pre>
        </li>

        <li>Appelez depuis votre layout :
          <ul>
            <li class="mt-sm mb-0">
              <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong class="valid-text">sam.css</strong> pour la version dev
              <pre>&lt;<span class="delete-text">link</span> <span class="info-text">rel</span>=<span class="warning-text">"stylesheet"</span> <span class="info-text">href</span>=<span class="warning-text">"node_modules/sam.scss/dist/sam.css"</span>&gt;</pre>
            </li>

            <li class="mt-sm mb-0">
              <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong class="valid-text">sam.min.css</strong> pour la version prod
              <pre>&lt;<span class="delete-text">link</span> <span class="info-text">rel</span>=<span class="warning-text">"stylesheet"</span> <span class="info-text">href</span>=<span class="warning-text">"node_modules/sam.scss/dist/sam.min.css"</span>&gt;</pre>(attention toutefois, il s'agit d'un pre-release pour le moment)
            </li>
          </ul>
        </li>
      </ol>
    </section>


    <!-- ************************** -->
    <!-- ***** Navbar section ***** -->
    {{ include('pjs/sam/navbar.twig') }}


    <!-- ************************** -->
    <!-- ***** Button section ***** -->
    {{ include('pjs/sam/button.twig') }}


    <!-- ************************ -->
    <!-- ***** Form section ***** -->
    {{ include('pjs/sam/form.twig') }}


    <!-- *************************** -->
    <!-- ***** Display section ***** -->
    {{ include('pjs/sam/display.twig') }}


    <!-- ************************** -->
    <!-- ***** Border section ***** -->
    {{ include('pjs/sam/border.twig') }}


    <!-- ************************** -->
    <!-- ***** Shadow section ***** -->
    {{ include('pjs/sam/shadow.twig') }}


    <!-- ************************* -->
    <!-- ***** Color section ***** -->
    {{ include('pjs/sam/color.twig') }}


    <!-- *************************** -->
    <!-- ***** Animate section ***** -->
    {{ include('pjs/sam/animate.twig') }}


    <!-- ************************** -->
    <!-- ***** Helper section ***** -->
    {{ include('pjs/sam/helper.twig') }}

  </article>
</main>

{% endblock %}
