{# ************************** #}
{# ***** PORTFOLIO VIEW ***** #}
{# ************************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Portfolio{% endblock %}

{% block description %}Mon Portfolio liste mes projets hébergés sur GitHub, mes pens consultables sur CodePen, ma formation à la 3W Academy, mes parcours certifiés par OpenClassrooms & ainsi que mes cours certifiés par OpenClassrooms & SoloLearn{% endblock %}


{% block main %}

<main id="portfolio" class="center">


  <!-- *************** -->
  <!-- Project Section -->
  <section id="project">

    <h2 class="primary-sea solid-slight">
      <i class="fa fa-github" aria-hidden="true"></i> Projets
    </h2>

    <p class="intro primary-sea double-slight-lg inset-spread-sm anime-shrinkS-sm">Mes <strong>projets</strong> touchent diverses <em>technologies</em> :<br><strong>HTML, Twig, Pug, CSS, Sass, Stylus, Bootstrap, JavaScript, jQuery, Node, PHP, Symfony, SQL</strong></p>


    <!-- Follow button -->
    <a href="https://twitter.com/philippepjbeck?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @philippepjbeck</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


    <ul class="grid-2sm-3md-4lg gap-lg items-end content-center mt-lg">

      <!-- Loop on all projects -->
      {% for project in allProjects %}

      <li itemscope itemtype="http://schema.org/CreativeWork">

        <!-- Project link to GitHub -->
        <a itemprop="url" href="{{ project.link }}" title="Voir le projet sur GitHub">

          <figure class="btn primary-outline solid-rounder-lg inset-spread-lg anime-grow-md">

            <!-- Project screenshot -->
            <img class="visible hover-full-tn-loop-alt" src="img/portfolio/{{ project.image }}" alt="Screenshot du projet {{ project.name }}" itemprop="thumbnailUrl">

            <figcaption class="visible anime-halfX-md-springL">

              <!-- Project name -->
              <h3 itemprop="name">{{ project.name }}</h3>

              <!-- Project description -->
              <p itemprop="description">{{ project.description }}</p>

              <!-- Project year creation -->
              <p itemprop="dateCreated">{{ project.year }}</p>

            </figcaption>
          </figure>
        </a>

      </li>

      {% endfor %}

    </ul>

  </section>


  <!-- *********** -->
  <!-- Pen Section -->
  <section id="pen">
    <h2 class="primary-glass solid-slight"><i class="fa fa-codepen" aria-hidden="true"></i> Pens</h2>

    <p class="intro primary-glass double-slight-lg inset-spread-sm">Mes <strong>pens</strong> font partie du cursus de <em>Free Code Camp</em> pour la certification de <strong>développement front-end</strong>...</p>

    <!-- Pens list -->
    <ul>

      <!-- Loop on all pens -->
      {% for pen in allPens %}

      <li itemscope itemtype="http://schema.org/CreativeWork">

        <!-- The pen name -->
        <h3 itemprop="name">{{ pen.name }}</h3>

        <!-- The pen objective link -->
        <a class="btn freecodecamp-btn solid-round-sm blur mr-sm" href="{{ pen.objective_link }}" title="Voir les objectifs" itemprop="description">
          <i class="fa fa-free-code-camp fa-lg fa-fw" aria-hidden="true"></i>
        </a>

        <!-- The pen -->
        <a class="btn default-btn solid-round-sm blur" href="{{ pen.link }}" title="Voir le pen" itemprop="url">
          <i class="fa fa-codepen fa-lg fa-fw" aria-hidden="true"></i>
        </a>

      </li>

      {% endfor %}

    </ul>
  </section>


  <!-- ***************** -->
  <!-- Formation Section -->
  <section id="formation">
    <h2 class="primary-sea solid-slight"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Formation</h2>

    <p class="intro primary-sea double-slight-lg inset-spread-sm"><strong>La formation</strong> de la <em>3W Academy</em> m'a permis de devenir <strong>Fullstack</strong>, consolidant mes bases <em>back-end</em>, et perfectionnant mon savoir-faire <em>front-end</em>.</p>

    <ul class="gmt-sm">
      <li>
        <!-- Access to the school -->
        <a href="https://3wa.fr" title="Voir l'école">

          <figure class="btn secondary-trans solid-rounder-lg inset-spread max-w75">

            {{ include('svg/3wa.svg.twig') }}

            <!-- Formation name -->
            <figcaption>
              <h3>Développeur intégrateur en réalisation d'applications Web</h3>
            </figcaption>
          </figure>
        </a>
      </li>

      <li>
        <!-- Access to the formation resume -->
        <a href="https://3wa.fr/la-formation-developpeur-php" title="Voir le résumé de la formation">
          <figure class="btn secondary-trans solid-rounder-lg inset-spread max-w66">

            <!-- Technologies logos -->
            {{ include('svg/html.svg.twig') }}
            {{ include('svg/css.svg.twig') }}
            {{ include('svg/js.svg.twig') }}
            {{ include('svg/php.svg.twig') }}
            {{ include('svg/sql.svg.twig') }}

            <!-- Technologies informations -->
            <figcaption>Formation intensive sur 5 technologies</figcaption>
          </figure>
        </a>
      </li>

      <li>
        <!-- Access to the government certification -->
        <a href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=25468" title="Voir la fiche RNCP">
          <figure class="btn secondary-trans solid-rounder-lg inset-spread max-w50">

            <!-- Cncp Logos -->
            {{ include('svg/cncp.svg.twig') }}

            <figcaption><strong>Certification N° 25468</strong></figcaption>
          </figure>
        </a>
      </li>
    </ul>

  </section>


  <!-- ************* -->
  <!-- Route Section -->
  <section id="route">
    <h2 class="primary-glass solid-slight"><i class="fa fa-road" aria-hidden="true"></i> Parcours</h2>

    <p class="intro primary-glass double-slight-lg inset-spread-sm">Chaque <strong>certificat de parcours</strong>, délivré par <em>OpenClassrooms</em>, est disponible en cliquant sur son <b>bouton vert Certification</b>.</p>

    <!-- Route table -->
    <table class="ridge inset-blur">

      <!-- Table header -->
      <thead>
        <tr>
          <th>Parcours</th>
          <th>Certificat</th>
        </tr>
      </thead>

      <tbody>

        <!-- Loop on all routes -->
        {% for route in allRoutes %}
        <tr>

          <!-- Route name -->
          <td>{{ route.name }}</td>

          <!-- Route certificate -->
          <td>
            <a class="btn valid-outline solid-rounder inset-spread-sm" href="{{ route.certif_link }}" title="Voir le certificat n° {{ route.certif_id }}">
              {{ date(route.certif_date)|date('d/m/y') }}
            </a>
          </td>

        </tr>
        {% endfor %}

      </tbody>
    </table>
  </section>


  <!-- ************** -->
  <!-- Course Section -->
  <section id="course">
    <h2 class="primary-sea solid-slight"><i class="fa fa-book" aria-hidden="true"></i> Cours</h2>

    <p class="intro primary-sea double-slight-lg inset-spread-sm">Chaque <strong>cours</strong>, <em>OpenClassrooms ou SoloLearn</em>, est accessible en cliquant sur son <b>nom</b> & chaque <strong>certificat</strong> en cliquant sur son <b>bouton vert Certification</b>.</p>

    <!-- Course table -->
    <table class="ridge inset-blur">

      <!-- Table header -->
      <thead>
        <tr>
          <th>Cours</th>
          <th>Certificat</th>
        </tr>
      </thead>

      <tbody>

        <!-- Loop on all courses -->
        {% for course in allCourses %}
        <tr itemscope itemtype="http://schema.org/Course">

          <!-- Course name -->
          <td>
            <a class="btn info-outline solid-rounder inset-spread-sm" href="{{ course.link }}" title="Accéder au cours" itemprop="url">
              <span itemprop="name">{{ course.name }}</span>
            </a>
            <p itemprop="description">{{ course.description }}</p>
          </td>

          <!-- Course certificate -->
          <td>
            <figure itemprop="provider" itemscope itemtype="http://schema.org/Organization">
              {% if course.provider_logo == 'oc' %}
                <a href="https://openclassrooms.com" title="Accéder à OpenClassrooms" itemprop="url">
                  <img src="img/logo/oc.svg" alt="Logo OpenClassrooms" itemprop="logo">
                </a>
                <figcaption itemprop="name">OpenClassrooms</figcaption>
              {% else %}
                <a href="https://www.sololearn.com" title="Accéder à SoloLearn" itemprop="url">
                  <img src="img/logo/sl.svg" alt="Logo SoloLearn" itemprop="logo">
                </a>
                <figcaption itemprop="name">SoloLearn</figcaption>
              {% endif %}
            </figure>
            <a class="btn valid-outline solid-rounder inset-spread-sm" href="{{ course.certif_link }}" title="Voir le certificat n° {{ course.certif_id }}" itemprop="educationalCredentialAwarded">
              {{ date(course.certif_date)|date('d/m/y') }}
            </a>
          </td>

        </tr>
        {% endfor %}

      </tbody>
    </table>
  </section>

</main>

{% endblock %}
