{# ********************* #}
{# ***** BLOG VIEW ***** #}
{# ********************* #}


{% extends 'layout/layout.twig' %}

{% block title %}Blog & Nouvelles{% endblock %}

{% block description %}Blog & Nouvelles - Développement Web - OpenClassrooms - 3W Academy - GitHub - npm - Packagist{% endblock %}


{% block main %}

<main id="blog">

  <p class="intro info double-slight-lg inset-spread-sm anime-twistL-sm">
    Mon <strong>blog</strong> est axé sur le domaine de la <em>programmation</em>.<br>Cliquer sur l'<b>image</b> ou le <b>bouton bleu
    <i class="fa fa-hand-o-right" aria-hidden="true"></i>
    </b> permet d'accéder à l'<strong>article</strong> concerné.
  </p>

  <!-- Articles List -->
  <ul class="grid-2md-3lg gap-lg content-evenly">

    <!-- Articles Foreach -->
    {% for article in allArticles %}
    <li class="col items-center content-between">

      <!-- Article Title with Link -->
      <h2>{{ article.title }}</h2>

      <!-- Article image -->
      <a class="btn warning-light solid-rounded inset-blur anime-twistR-sm" href="{{ url('article!read', {'id': article.id}) }}" title="Lire l'article">
        <img src="img/blog/{{ article.image }}" alt="{{ article.image }}">
      </a>

      <!-- Article Content -->
      <p class="center">{{ article.content | slice(0, 150) }}...</p>

      <!-- Article Infos -->
      <p class="italic">Posté le {{ date(article.created_date)|date('d M Y') }} à {{ date(article.created_date)|date('H:i') }}</p>

      <!-- readArticle Link -->
      <a class="btn info-outline solid-rounder inset-spread" href="{{ url('article!read', {'id': article.id}) }}" title="Lire l'article">
        Lire la suite <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      </a>

    </li>
    {% endfor %}

  </ul>
</main>

{% endblock %}
