{# *************************** #}
{# ***** UPDATE PEN VIEW ***** #}
{# *************************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Edition d'un pen{% endblock %}

{% block description %}{% endblock %}


{% block main %}

<main>

  <!-- Update pen form -->
  <form method="post" action={{ url('pen!update', {'id': pen.id}) }}>
    <fieldset>
      <legend>
        <i class="fa fa-codepen fa-fw fa-2x" aria-hidden="true"></i>
      </legend>
      <ul>

        <!-- Pen name field -->
        <li>
          <label for="name">Nom</label>
          <input id="name" name="name" type="text" maxlength="50" required value="{{ pen.name }}">
        </li>

        <!-- Pen link field -->
        <li>
          <label for="link">Pen</label>
          <input id="link" name="link" type="text" maxlength="50" required value="{{ pen.link }}">
        </li>

        <!-- Pen objective link field -->
        <li>
          <label for="objective_link">Objectifs</label>
          <input id="objective_link" name="objective_link" type="text" maxlength="50" required value="{{ pen.objective_link }}">
        </li>

        <!-- Controls buttons -->
        <li class="btn-group">
          <a class="btn delete-btn outset-slight inset-blur" href="{{ url('admin') }}">Quitter</a>
          <input class="btn cancel-btn outset-slight inset-blur" type="reset" value="Réinitialiser">
          <input class="btn valid-btn outset-slight inset-blur" type="submit" value="Modifier">
        </li>

      </ul>
    </fieldset>
  </form>
</main>

{% endblock %}
