{# ********************** #}
{# ***** OWNER VIEW ***** #}
{# ********************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Bienvenue au jury de la 3W Academy !{% endblock %}

{% block description %}Accès restreint - Espace privé - Page réservée{% endblock %}


{% block main %}

<main id="owner">

  <article class="container">
    <h2 class="classic-text under-wavy">Présentation des projets</h2>

    <p>
      <i class="fa fa-chevron-right" aria-hidden="true"></i> Bonjour cher jury, je vous présente ici l'ensemble des projets pour la validation du titre <a class="special-outline solid-slight-sm" href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=25468" title="Voir la fiche RNCP">RNCP N°25468</a>
      <br><i class="fa fa-long-arrow-right" aria-hidden="true"></i> <strong class="warning-text">Développeur Intégrateur en Réalisation d'Applications Web</strong> <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
    </p>

    <p>
      <i class="fa fa-chevron-right" aria-hidden="true"></i> Avant la formation à la 3W Academy, j'avais 2 projets dont le code est hébergé sur GitHub :
    </p>

    <ol>
      <li>un <a class="special-outline solid-slight-sm" href="https://github.com/philippebeck/phibeck" title="Voir le projet sur GitHub">Portfolio</a> OnePage fait avec Nodejs/Express, que j'avais mis en ligne en http ;</li>
      <li> un <a class="special-outline solid-slight-sm" href="https://github.com/philippebeck/celestialgalleries" title="Voir le projet sur GitHub">projet de galeries d'images</a> fait avec Symfony3 sur le domaine de l'astronomie.</li>
    </ol>

    <p>
      <i class="fa fa-chevron-right" aria-hidden="true"></i> Durant la formation, je me suis mis en tête de fusionner mes 2 précédents projets & d'y ajouter un blog.
    </p>

    <section>
      <h3 class="valid-text under-double">1 / Sam</h3>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Pour ces anciens projets, j'avais utilisé différents outils ; dont 2 d'entre eux dans chacun des projets : <a class="special-outline solid-slight-sm" href="http://stylus-lang.com" title="Voir le site officiel">Stylus</a> & <a class="special-outline solid-slight-sm" href="https://getbootstrap.com" title="Voir le site officiel">Bootstrap</a>.
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Souhaitant profiter des avantages d'un préprocesseur CSS & d'un framework CSS, mais souhaitant respecter au maximum les recommandations du dépôt de dossier : je me suis orienté vers le SCSS qui respecte la syntaxe CSS tout en apportant plus de possibilités & vers la construction de mon propre microframework !
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> D'ailleurs, avant la formation, je ne connaissais <a class="special-outline solid-slight-sm" href="http://sass-lang.com" title="Voir le site officiel">Sass</a> que de nom, mais ayant suivi un cours OpenClassrooms sur Ruby en 2015, j'ai pu me lancer !
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> La seule dépendance de ce projet, et donc le seul bout de code extérieur est <a class="special-outline solid-slight-sm" href="https://necolas.github.io/normalize.css" title="Voir le site officiel">Normalize.css</a>...
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Et pour simplifier la réutilisation de l'outil, je l'ai publié sur <a class="special-outline solid-slight-sm" href="https://www.npmjs.com/package/sam.scss" title="Voir le package sam.scss">NPM</a> !
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Sam dispose également de ses propres présentation & documentation : <a class="special-outline solid-slight-sm" href="{{ url('pjs!sam') }}" title="Voir la documentation">Sam.scss</a>...
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Enfin, un récapitulatif complet des critères définissants cet outil est disponible : <a class="special-outline solid-slight-sm" href="img/projets/sam.pdf" title="Voir le récapitulatif">sam.pdf</a>
      </p>

    </section>

    <section>
      <h3 class="valid-text under-double">2 / Pam</h3>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Arrivé à la fin de la formation, grâce à Olivier, j'avais suffisammment avancé sur le programme des cours pour me lancer dans la construction d'un outil PHP : un autre microframework, mais plus léger, le but étant ici de factoriser au maximum le code, les modèles en particulier.
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> La seule dépendance de ce projet est le moteur de template utilisé dans Symfony : <a class="special-outline solid-slight-sm" href="https://twig.symfony.com" title="Voir le site officiel">Twig</a>...
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Un seul autre fichier contenant du code extérieur est utilisé sur ce projet : <a class="special-outline solid-slight-sm" href="https://getcomposer.org/" title="Voir le site officiel">Autoloader de Composer</a>...
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Pour simplifier la réutilisation de l'outil, je l'ai aussi publié, mais sur <a class="special-outline solid-slight-sm" href="https://packagist.org/packages/pjs/pam" title="Voir le package pjs/pam">Packagist</a> !
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Et Pam dispose aussi de ses propres présentation & documentation : <a class="special-outline solid-slight-sm" href="{{ url('pjs!pam') }}" title="Voir la documentation">Pam</a>...
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Enfin, un récapitulatif complet des critères définissants cet outil est disponible : <a class="special-outline solid-slight-sm" href="img/projets/pam.pdf" title="Voir le récapitulatif">pam.pdf</a>
      </p>

    </section>

    <section>
      <h3 class="valid-text under-double">3 / Jim</h3>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Niveau JavaScript client, sur mes anciens projets, je n'avais que testé un peu de jQuery & de CoffeeScript, pour quelques fonctionnalités...
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Pourquoi ne pas ajouter un petit outil en JavaScript, réduit au minimum, pour gérer les évènements au clavier, une microlibrairie par exemple ? Mais surtout, n'effectuant que des tâches non-bloquantes vis-à-vis du site, en cas de désactivation de JavaScript...
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Evidemment, vu la simplicité de l'outil, il n'a aucune dépendance !
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Pour simplifier la réutilisation de l'outil, idem, je l'ai publié sur <a class="special-outline solid-slight-sm" href="https://www.npmjs.com/package/jim-js" title="Voir le package jim-js">NPM</a> !
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Jim dispose de ses propres présentation & documentation, bien que très brèves : <a class="special-outline solid-slight-sm" href="{{ url('pjs!jim') }}" title="Voir la documentation">Jim-js</a>...
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Enfin, un récapitulatif complet des critères définissants cet outil est disponible : <a class="special-outline solid-slight-sm" href="img/projets/jim.pdf" title="Voir le récapitulatif">jim.pdf</a>
      </p>

    </section>

    <section>
      <h3 class="valid-text under-double">4 / Pjs</h3>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Et pourquoi ne pas regrouper tout ça dans un microCMS, en y ajoutant une interface d'administration ?
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Je pourrais faire évoluer les outils & les réutiliser lors de projets futurs ?!
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Les seules autres dépendances que celles de Sam & Pam sont :
      </p>

      <ol>
        <li>Pour les icones : <a class="special-outline solid-slight-sm" href="https://fontawesome.com" title="Voir le site officiel">Font-Awesome</a></li>
        <li>Pour les tests : <a class="special-outline solid-slight-sm" href="https://phpunit.de" title="Voir le site officiel">PhpUnit</a></li>
      </ol>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Pour simplifier la réutilisation de l'outil, je l'ai publié, évidemment, sur <a class="special-outline solid-slight-sm" href="https://packagist.org/packages/pjs/pjs" title="Voir le package pjs/pjs">Packagist</a> !
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Pjs dispose d'une toute petite présentation, son utilisation ne requiert que la lecture des documentations de ses dépendances : <a class="special-outline solid-slight-sm" href="{{ url('pjs') }}" title="Voir la présentation">Pjs</a>...
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Enfin, un récapitulatif complet des critères définissants cet outil est disponible : <a class="special-outline solid-slight-sm" href="img/projets/pjs.pdf" title="Voir le récapitulatif">pjs.pdf</a>
      </p>

    </section>

    <section>
      <h3 class="valid-text under-double">5 / Philippe Beck</h3>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Mon site me permet donc de présenter un <a class="special-outline solid-slight-sm" href="{{ url('portfolio') }}" title="Projets & Formations">Portfolio</a> assez complet, que je peux alimenter directement depuis l'administration ; du moins pour ce qui est des cours, parcours, pens & projets.
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Il me permet aussi de présenter les <a class="special-outline solid-slight-sm" href="{{ url('pjs') }}" title="Pam, Jim & Sam">outils</a> que j'ai créé pour l'occasion, avec les liens & commandes principales nécessaires, ainsi que les documentations, incluant syntaxe & exemples.
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> La partie <a class="special-outline solid-slight-sm" href="{{ url('article') }}" title="Articles & Nouvelles">Blog</a> va me permettre de marquer les évènements importants de cette nouvelle vie, en l'alimentant aussi simplement que le Portfolio & tout en me permettant une interaction avec mes proches via les commentaires.
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> La section <a class="special-outline solid-slight-sm" href="{{ url('photo') }}" title="Photos d'Objets Stellaires">Univers</a>, tout comme la section <a class="special-outline solid-slight-sm" href="{{ url('atlas') }}" title="Atlas de Cartes Célestes">Atlas</a>, sont liés à ma passion pour les étoiles ; passion que je souhaite transmettre par le biais d'images extraordinaires, de données pour les amateurs, ou encore de fonds d'écrans...
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Enfin, un récapitulatif complet des critères définissants ce projet est disponible : <a class="special-outline solid-slight-sm" href="img/projets/pbn.pdf" title="Voir le récapitulatif">pbn.pdf</a>
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Voilà, en espérant que cela vous ait plu ; je m'excuse aussi pour le temps nécessaire afin de tout regarder & vous remercie pour votre attention!

    </section>

  </article>

</main>

{% endblock %}
